*{
    box-sizing: border-box;
    font-family: 'Varela', sans-serif;
    
    
}
body{
    background-color:rgba(240,248,255,0.2) !important;
}
.bg-secondary
{
    background-color:rgba(240,248,255,0.2) !important;
}
.navbar-brand{
    position: absolute;

}

.navbar{
    height: 80px;
    box-shadow:0px 0px 12px 0px;
}
.text-brand{
    margin-left:140px;
    color: darkgreen;
    
}
.text-brand:hover{
    color:darkgreen;
}
.text-brand h2{
    font-weight:800 !important;
    text-shadow: 1px 1px 1px rgba(62, 106, 168, .8);
}
.text-brand h3{
    font-weight:400 !important;
    text-shadow: 1.5px 1.5px 1.5px rgba(62, 106, 168, .8);
    
}
.navbar-nav
{
  margin-left:auto;
  height : 80px;
   
}
.nav-link{
    color: darkgreen;
    font-weight: 600;
}

.nav-link .fa{
    -webkit-transition: 0.6s ease-out;
    -moz-transition:  0.6s ease-out;
    transition:  0.6s ease-out;
}

.nav-link .fa :hover{
    -webkit-transform: rotateY(720deg);
      -moz-transform: rotateY(720deg);
      transform: rotateY(720deg); 
}

.nav-item{
    margin-right:5px;
    margin-left:5px;
}

.links{
    margin-bottom : auto;
    margin-top : auto;
}

ul .nav-link:hover{
    color:white !important;
    background-color:green;
    font-weight: 800;
}

.dropleft .dropdown-menu {
    top: 37px !important;
    left: -122px !important;
}

.carousel-container{
    padding: 15px 15px;
    

}
.carousel{
    padding:30px 0px 0px 0px;

    width: 100%;
    margin:0px auto 50px auto;
    height:500px;
    
}
.carousel-item img{
    height: 500px;
    width : 100%;
    
}

.card-body p{
    margin-top:50px;
}
.row{
    padding:30px;
    margin : 0px!important;
}
footer{
 
    background-color:#211b1b !important;    
   
}

@media (min-height:859px){
    footer{
        position: absolute;
        right:0;
        left:0;
        bottom:0;
    }
}

footer .social{
    margin : 0px 40px !important;
}

.copyright{
    color:white;
    margin:0px;
}

.footerText{
    color:white;
    margin-bottom : 0px;
    
    background-color:#372D2D !important;
}

.footer-link{
    
    display:inline-block;
    margin: 0px 137px;
    color : white;
    
}
.footer-link a{
    text-decoration: none !important;
    color : white;
}

.footer-second{
    color:white;
    font-size: 12px;
}

footer .row{
    padding-bottom : 7px!important;
    padding-top: 7px !important;
}

footer .fa{
    color:white;
}
footer .social{
    margin: 0px 10px;
}
/*Contact Us*/
.contact-us h1{
    color:darkgreen;
    margin-top:20px;
    text-align: center;
}
.contact-us-p{
    text-align:center;
}
/*about us */

.para{
    margin-top:30px;
}
.FOA ul li{
    line-height: 2;
    font-size: large;
}
.flip {
    height: 169px;
    width: 250px;
    margin-bottom:85px;
    margin-top:25px;
    
  
    

}
.flip img {
    width: 250px;
    height: 169px;
}
.flip .back {
    
    color:black;
    
    
    position: relative;
    
}
.mid{
    margin-left:8%;
    margin-right:8%;
}

.back::before{
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: -2;
    display: block;
    content: "";
}

.ajmer::before{
    background:url('./Client Logos/Ajmer Industries.jpg') no-repeat;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-size: 250px 169px;
    background-color:lightblue;
    opacity:0.1;
    
    
}
.berger::before{
    background: url('./Client Logos/Berger.jpg');
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-size: 250px 169px;
    opacity:0.2;
}
.bikaji::before{
    background: url('./Client Logos/Bikaji.jpg') no-repeat;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-size: 250px 169px;
    opacity:0.2;

}
.Carlsberg::before{
    background: url('./Client Logos/Carlsberg.jpg') no-repeat;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-size: 250px 169px;
    opacity:0.2;

}
.creambell::before{
    background: url('./Client Logos/Creambell.jpg') no-repeat;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-size: 250px 169px;
    opacity:0.2;

}
.ginni::before{
    background: url('./Client Logos/Ginni international.jpg') no-repeat;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-size: 250px 169px;
    opacity:0.2;
}
.gls::before{
    background: url('./Client Logos/GLS Film industries.jpg') no-repeat;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-size: 250px 169px;
    opacity:0.2;

}
.indo::before{
    background: url('./Client Logos/Indonissin.jpg') no-repeat;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-size: 250px 169px;
    opacity:0.2;
}
.merino::before{
    background: url('./Client Logos/Merino.jpg') no-repeat;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-size: 250px 169px;
    opacity:0.2;


}
.rt::before{
    background: url('./Client Logos/RT Packaging.jpg') no-repeat;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-size: 250px 169px;
    opacity:0.2;
}
.sang::before{
    background: url('./Client Logos/Neha Wudlam.png') no-repeat;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-size: 250px 169px;
    opacity:0.2;
}
.skiper::before{
    background: url('./Client Logos/Skipper seil.png') no-repeat;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-size: 250px 169px;
    opacity:0.2;

}
.unipro::before{
    background: url('./Client Logos/Uniproduct India Ltd..jpg') no-repeat;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-size: 250px 169px;
    opacity:0.2;

}
.veeba::before{
    background: url('./Client Logos/Veeba foods.jpg') no-repeat;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-size: 250px 169px;
    opacity:0.2;

}
.yansefu::before{
    background: url('./Client Logos/Yansefu Inks.jpg') no-repeat;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-size: 250px 169px;
    opacity:0.2;

}

.contact-us .icons{
    color:darkgreen;
}
.front{
    box-shadow: 3px 4px 3px 3px #e8f7df;
}
.back{
    box-shadow: 3px 4px 3px 3px #e8f7df;
}


/*Services*/
.services-wrapper .heading{
    text-align: center;
    margin-top: 20px;
}

.services-wrapper .row img{
    height:250px;
    width:400px;
}
/*Boiler1*/
.main-heading{
    margin-top:20px;
    text-align: center;
}
.products-images{
    height: 250px;
    width: 300px;
}
.products .row{
    height:310px;
}