* {
  box-sizing: border-box;
  font-family: "Varela", sans-serif;
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
}
#container {
  min-height: 100%;
  position: relative;
}
#body {
  padding: 10px;
  padding-bottom: 50vw; /* Height of the footer */
}

body {
  background-color: rgba(240, 248, 255, 0.2) !important;
  height: 100%;
  margin: 0;
  padding: 0;

}

.rotateImg{
  transform: rotate(90deg);
}

.bg-secondary {
  background-color: rgba(240, 248, 255, 0.2) !important;
}

.carousel-container {
  padding: 15px 15px;
}
.carousel {
  padding: 30px 0px 0px 0px;

  width: 100%;
  margin: 0px auto 50px auto;
}
.carousel-item img {
  max-height: 460px;

  width: 100%;
}
.home-columns {
  margin-bottom: 3em;
}
.home-cards {
  height: 100%;
}
.card-heading {
  text-align: center;
}

.card-body p {
  margin-top: 50px;
}
.row {
  padding: 30px;
  margin: 0px !important;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #211b1b !important;
}

footer .social {
  margin: 0px 40px !important;
}

.copyright {
  color: white;
  margin: 0px;
}

.footerText {
  color: white;
  margin-bottom: 0px;

  background-color: #372d2d !important;
}

.footer-link {
  display: inline-block;
  margin: 0px 137px;
  color: white;
}
.footer-link a {
  text-decoration: none !important;
  color: white;
}

.footer-second {
  color: white;
  font-size: 1vw;
}

footer .row {
  padding-bottom: 7px !important;
  padding-top: 7px !important;
}

footer .fa {
  color: white;
}
footer .social {
  margin: 0px 10px;
}
/*Contact Us*/
.contact-us h1 {
  color: darkgreen;
  margin-top: 20px;
  text-align: center;
}
.contact-us-p {
  text-align: center;
}

.contact-us .icons {
  -webkit-transition: 0.6s ease-out;
  -moz-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}
.contact-us .icons:hover {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/*careers*/

.careers h1 {
  color: darkgreen;
  margin-top: 20px;
  text-align: center;
}
.careers .careers-front-image {
  width: 77vw;
  height: 30vw;
}
.careers-p {
  margin-top:2vw;
  text-align: center;
}
.careers .form-heading {
  text-align: center;
  color: darkgreen;
}
.careers .application-form {
  width: 45vw;
  margin:0px auto;
}
.careers form.application-form>.form-group>label {
  color: darkgreen;
}
.careers form.application-form span.required {
  color:red;
}
/*about us */

.para {
  margin-top: 30px;
}
.FOA ul li {
  line-height: 2;
  font-size: large;
}
.flip {
  height: 169px;
  width: 250px;
  margin-bottom: 85px;
  margin-top: 25px;
}
.flip img {
  width: 250px;
  height: 169px;
}
.flip .back {
  color: black;

  position: relative;
}
.mid {
  margin-left: 8%;
  margin-right: 8%;
}

.back::before {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  display: block;
  content: "";
}

.ajmer::before {
  background: url("./Client Logos/Ajmer Industries.jpg") no-repeat;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-size: 250px 169px;
  background-color: lightblue;
  opacity: 0.1;
}
.berger::before {
  background: url("./Client Logos/Berger.jpg");
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-size: 250px 169px;
  opacity: 0.2;
}
.bikaji::before {
  background: url("./Client Logos/Bikaji.jpg") no-repeat;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-size: 250px 169px;
  opacity: 0.2;
}
.Carlsberg::before {
  background: url("./Client Logos/Carlsberg.jpg") no-repeat;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-size: 250px 169px;
  opacity: 0.2;
}
.creambell::before {
  background: url("./Client Logos/Creambell.jpg") no-repeat;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-size: 250px 169px;
  opacity: 0.2;
}
.ginni::before {
  background: url("./Client Logos/Ginni international.jpg") no-repeat;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-size: 250px 169px;
  opacity: 0.2;
}
.gls::before {
  background: url("./Client Logos/GLS Film industries.jpg") no-repeat;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-size: 250px 169px;
  opacity: 0.2;
}
.indo::before {
  background: url("./Client Logos/Indonissin.jpg") no-repeat;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-size: 250px 169px;
  opacity: 0.2;
}
.merino::before {
  background: url("./Client Logos/Merino.jpg") no-repeat;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-size: 250px 169px;
  opacity: 0.2;
}
.rt::before {
  background: url("./Client Logos/RT Packaging.jpg") no-repeat;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-size: 250px 169px;
  opacity: 0.2;
}
.sang::before {
  background: url("./Client Logos/Neha Wudlam.png") no-repeat;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-size: 250px 169px;
  opacity: 0.2;
}
.skiper::before {
  background: url("./Client Logos/Skipper seil.png") no-repeat;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-size: 250px 169px;
  opacity: 0.2;
}
.unipro::before {
  background: url("./Client Logos/Uniproduct India Ltd..jpg") no-repeat;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-size: 250px 169px;
  opacity: 0.2;
}
.veeba::before {
  background: url("./Client Logos/Veeba foods.jpg") no-repeat;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-size: 250px 169px;
  opacity: 0.2;
}
.yansefu::before {
  background: url("./Client Logos/Yansefu Inks.jpg") no-repeat;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-size: 250px 169px;
  opacity: 0.2;
}

.contact-us .icons {
  color: darkgreen;
}
.front {
  box-shadow: 3px 4px 3px 3px #e8f7df;
}
.back {
  box-shadow: 3px 4px 3px 3px #e8f7df;
}

/*Services*/
.services-wrapper .heading {
  text-align: center;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.services-wrapper .row img {
  height: 250px;
  width: 400px;
}

.services-wrapper .row img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.services-wrapper .row .img-right {
  margin-left: 2em;
  margin-bottom: 1em;
}

.services-wrapper .row .img-left {
  margin-right: 2em;
  margin-bottom: 1em;
}

/*products*/
.main-heading {
  margin-top: 20px;
  text-align: center;
}

.products .heading {
  text-align: center;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}
.products .row img {
  height: 250px;
  width: 400px;
}

.products .row img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.products .row .img-right {
  margin-left: 2em;
  margin-bottom: 1em;
}

.products .row .img-left {
  margin-right: 2em;
  margin-bottom: 1em;
}

@media (min-width: 992px) {
  .navbar-brand {
    position: absolute;
  }
  .hrz {
    display: none;
  }
  #body{
    padding-bottom:20vw;
  }
  .navbar {
    height: 80px;
    box-shadow: 0px 0px 12px 0px;
  }
  .text-brand {
    margin-left: 140px;
    color: darkgreen;
  }
  .text-brand:hover {
    color: darkgreen;
  }
  .text-brand h2 {
    font-weight: 700 !important;
    text-shadow: 1px 1px 1px rgba(62, 106, 168, 0.8);
  }
  .text-brand h3 {
    font-weight: 300 !important;
    text-shadow: 1.5px 1.5px 1.5px rgba(62, 106, 168, 0.8);
  }
  .navbar-nav {
    margin-left: auto;
    height: 80px;
  }
  .nav-link {
    color: darkgreen;
    font-weight: 600;
  }

  .nav-link .fa {
    -webkit-transition: 0.6s ease-out;
    -moz-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
  }

  .nav-link .fa :hover {
    -webkit-transform: rotateY(720deg);
    -moz-transform: rotateY(720deg);
    transform: rotateY(720deg);
  }

  .nav-item {
    margin-right: 5px;
    margin-left: 5px;
  }

  .links {
    margin-bottom: auto;
    margin-top: auto;
  }

  ul .nav-link:hover {
    color: white !important;
    background-color: green;
    font-weight: 800;
  }
  .h3,
  h3 {
    font-size: 1.5rem;
  }

  .dropleft .dropdown-menu {
    top: 37px !important;
    left: -122px !important;
  }
  .navbar-nav {
    margin-left: auto;
  }
  .nav-link {
    color: darkgreen;
    font-weight: 600;
  }

  .nav-link .fa {
    -webkit-transition: 0.6s ease-out;
    -moz-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
  }

  .nav-link .fa :hover {
    -webkit-transform: rotateY(720deg);
    -moz-transform: rotateY(720deg);
    transform: rotateY(720deg);
  }
}
.navbar-brand img {
  height: 95px;
  width: 150px;
}

@media (max-width: 992px) {
  
}

@media (min-width: 992px){
    
.client-coro{
    display: none;
}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 991px) and (max-width: 1200px) {
  .footer-link {
    margin: 0px 108px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0px;
    padding-left: 0px;
  }
}



@media (min-width: 768px) and (max-width: 991px) {
  #body{
    padding-bottom: 20vw;
  }
  .navbar-brand img {
    height: 95px;
    width: 150px;
  }
  .text-brand {
    color: darkgreen;
    margin-left: 0px;
  }
  .navbar {
    box-shadow: 0px 0px 8px 0px;
  }
  .navbar-nav {
    background-color: #423737;
  }
  .text-brand:hover {
    color: darkgreen;
  }
  .text-brand h2 {
    font-weight: 700 !important;
    text-shadow: 1px 1px 1px rgba(62, 106, 168, 0.8);
  }
  .text-brand h3 {
    font-weight: 300 !important;
    text-shadow: 1.5px 1.5px 1.5px rgba(62, 106, 168, 0.8);
  }
  .nav-item {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
  }
  .nav-item:hover {
    background-color: darkgreen;
  }

  .nav-link {
    color: #58a111;
    font-weight: 600;
  }
  ul .nav-link:hover {
    color: white;
  }
  .navbar-toggler {
    border: 3px solid #29521d;
  }
  .navbar-toggler-icon {
    /*background-color: black!important;*/
    display: block;
    margin-top: 5px;
    background-color: #58a111;
    height: 10px;
  }
  .nav-link .fa {
    -webkit-transition: 0.6s ease-out;
    -moz-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
  }

  .nav-link .fa :hover {
    -webkit-transform: rotateY(720deg);
    -moz-transform: rotateY(720deg);
    transform: rotateY(720deg);
  }

  .carousel-item img {
    max-height: 350px;
  
    width: 100%;
  }

  .hrz {
    list-style-type: none;
    display: block;
    width: 100%;
  }
  .hrz a li {
    float: left;
    width: 33%;
    border: 2px solid black;
    line-height: 2;
    text-align: center;
    background-color: #4ca10f;
  }
  .hrz a {
    text-decoration: none;
    color: whitesmoke;
    vertical-align: middle;
    font-family: "Varela", sans-serif;
  }
  /*Services*/
  .services-wrapper .row img,
  .products .row img {
    width: 250px !important;
    height: 175px !important;
  }

  .services-wrapper,
  .products {
    margin-bottom: 115px !important;
  }

  .footer-link {
    margin: 0px 68px;
  }

  footer .social {
    margin: 0px 19px !important;
  }
  .clients-flip{
    display: none;
}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  #body{
    padding-bottom: 45vw;
  }
  .navbar-brand img {
    height: 76.4px;
    width: 120px;
    display: none;
  }
  .text-brand {
    color: darkgreen;
    margin-left: 0px;
  }
  .navbar {
    box-shadow: 0px 0px 8px 0px;
  }
  .navbar-nav {
    background-color: #423737;
  }
  .text-brand:hover {
    color: darkgreen;
  }
  .text-brand h2 {
    font-weight: 700 !important;
    text-shadow: 1px 1px 1px rgba(62, 106, 168, 0.8);
  }
  .text-brand h3 {
    font-weight: 300 !important;
    text-shadow: 1.5px 1.5px 1.5px rgba(62, 106, 168, 0.8);
  }
  .nav-item {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
  }
  .nav-item:hover {
    background-color: darkgreen;
  }

  .nav-link {
    color: #58a111;
    font-weight: 600;
  }
  ul .nav-link:hover {
    color: white;
  }
  .navbar-toggler {
    border: 3px solid #29521d;
  }
  .navbar-toggler-icon {
    /*background-color: black!important;*/
    display: block;
    margin-top: 5px;
    background-color: #58a111;
    height: 10px;
  }
  .nav-link .fa {
    -webkit-transition: 0.6s ease-out;
    -moz-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
  }

  .nav-link .fa :hover {
    -webkit-transform: rotateY(720deg);
    -moz-transform: rotateY(720deg);
    transform: rotateY(720deg);
  }
  .carousel-item img {
    max-height: 280px;
  
    width: 100%;
  }
  .hrz {
    list-style-type: none;
    display: block;
    width: 100%;
  }
  .hrz a li {
    float: left;
    width: 33%;
    border: 2px solid black;
    line-height: 2;
    text-align: center;
    background-color: #4ca10f;
  }
  .hrz a {
    text-decoration: none;
    color: whitesmoke;
    vertical-align: middle;
    font-family: "Varela", sans-serif;
  }
  .clients-flip{
      display: none;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
@media (min-width:320px) and (max-width:479px){
  .carousel-item img {
    max-height: 190px;
    width: 100%;
  }
  #body{
    padding-bottom: 60vw;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
 
  .nav-link {
    margin-left: 0px;
  }

  .text-brand {
    padding-left: 0px;
  }

  .navbar-brand img {
    height: 63px;
    width: 100px;
  }
  .text-brand {
    color: darkgreen;
    margin-left: 0px;
  }
  .navbar {
    box-shadow: 0px 0px 8px 0px;
  }
  .navbar-nav {
    background-color: #423737;
  }
  .text-brand:hover {
    color: darkgreen;
  }
  .text-brand h2 {
    font-weight: 700 !important;
    text-shadow: 1px 1px 1px rgba(62, 106, 168, 0.8);
  }
  .text-brand h3 {
    font-weight: 300 !important;
    text-shadow: 1.5px 1.5px 1.5px rgba(62, 106, 168, 0.8);
  }
  .nav-item {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
  }
  .nav-item:hover {
    background-color: darkgreen;
  }

  .nav-link {
    color: #58a111;
    font-weight: 600;
  }
  ul .nav-link:hover {
    color: white;
  }
  .navbar-toggler {
    border: 3px solid #29521d;
  }
  .navbar-toggler-icon {
    /*background-color: black!important;*/
    display: block;
    margin-top: 5px;
    background-color: #58a111;
    height: 10px;
  }
  .nav-link .fa {
    -webkit-transition: 0.6s ease-out;
    -moz-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
  }

  .nav-link .fa :hover {
    -webkit-transform: rotateY(720deg);
    -moz-transform: rotateY(720deg);
    transform: rotateY(720deg);
  }
  .hrz {
    list-style-type: none;
    display: block;
    width: 100%;
  }
  .hrz a li {
    float: left;
    width: 33%;
    border: 2px solid black;
    line-height: 2;
    text-align: center;
    background-color: #4ca10f;
  }
  .hrz a {
    text-decoration: none;
    color: whitesmoke;
    vertical-align: middle;
    font-family: "Varela", sans-serif;
  }

  .services-wrapper .row .img-left, .products .row .img-left {
    text-align: center !important;
    margin-right: 0px !important;
  }
  .services-wrapper .row .img-right, .products .row .img-right {
    text-align: center !important;
    margin-left: 0px !important;
  }

  .services-wrapper .row img, .products .row img {
    width: 170px !important;
    height: 120px !important;
  }

  .services-wrapper, .products {
    margin-bottom: 115px !important;
  }

  .services-wrapper .heading h3, .products .heading h3 {
    font-size: 25px !important;
  }

  .services-wrapper .service-description, .products .products-description {
    font-size: 13px !important;
  }

  .about-us-wrapper .row .photo img{
    display: none;
  }

  .about-us-wrapper .promoters .row img{
    width: 200px;
    height: 150px;
  }
  .footer-link {
    font-size: 13px;
    margin: 0px 8px !important;
  }

  .footer-second {
    margin-bottom: 3px;
    font-size: 10px;
  }
  footer .social {
    margin: 0px 25px !important;
    font-size: 18px;
  }
  footer .copyright {
    font-size: 10px;
  }
  .clients-flip{
      display: none;
  }
}
@media (min-width: 320px) and (max-width: 400px) {
  .navbar-brand img {
    display: none;
  }
  .hrz {
    list-style-type: none;
    display: block;
    width: 100%;
  }
  .hrz a li {
    float: left;
    width: 33%;
    border: 2px solid black;
    line-height: 2;
    text-align: center;
    background-color: #4ca10f;
  }

  .hrz a {
    text-decoration: none;
    color: whitesmoke;
    vertical-align: middle;
    font-family: "Varela", sans-serif;
  }
  .clients-flip{
      display: none;
  }
}
